body,
body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #0A0119;
}

/* body {
    width: 900px;
    margin-left: calc(50% - 450px);
} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 3rem 4rem;
}

.header img {
    width: 9rem;
}

.navigationContainer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navigationContainer nav ul {
    display: flex;
    gap: 5.5rem;
}

.navigationContainer nav ul li {
    list-style: none;
}

.navigationContainer nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0 3rem 4rem;
}

.paragraph {
    color: white;
}

.name {
    font-size: 3rem;
}

.profesion {
    font-size: 4rem;
    margin: 1rem 0;
}

.man {
    width: 40rem;
    height: 40rem;
}

.text {
    font-size: 1.5rem;
}

button {
    color: #0A0119;
    border: none;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 20px;
    margin: 3rem 0;
    padding: 0.8rem 2rem;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #2e1c4b;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin: 6rem 0;
}

.section-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 4rem 3rem 0;
    gap: 8rem;
}

.section-three {
    color: white;
    margin: 0rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem 1.5rem;
    justify-content: space-evenly;
    
    /* text-align: center; */
}

.photo-container {
    width: 25rem;
}

.dark {
    filter: brightness(50%);
}

.photo {
    position: relative;
}

.photo-btn {
    position: absolute;
    top: 9rem;
    left: 6rem;
    text-align: center;
    gap: 3rem;
    width: 16rem;
    height: 7rem;
    background-color: transparent;
}

.photo img {
    position: relative;
    width: 28rem;
    height: 28rem;
    border-radius: 2.3rem;
}

/* .img {
    background-color: red;
    width: 50rem;
    height: 50rem;
    position: relative;
    z-index: -1;
} */

.photo-btn > button {
    color: white;
    margin: 1rem 0;
    border: 2px solid white;
    padding: 0.5rem 2rem;
    box-sizing:content-box;
    border-radius: 0.7rem;
    background-color: transparent;
}

.photo-btn>button:hover {
    background-color: white;
    color: #0A0119;
}
.project-name {
    font-size: 2rem;
    margin-top: 2rem;
}

.about {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.about p{
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
}

.contact {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.contact p:first-child {
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.me {
    font-size: 2rem;
}

.contact > a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin: 1.5rem 0;
}
footer {
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.footer > img {
    width: 10rem;
}

.footer nav img {
    width: 2rem;
    margin-left: 5rem
}

footer nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    margin: 4rem 4rem;
}

.copyright img {
    width: 1.3rem;
}

.copyright p {
    font-size: 1rem;
    margin-left: 0.4rem;
}